* {
    box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #202A31;
  padding: 16px;
  }

hr {
  max-width: 448px;
  width: 100%;
  margin: 0 auto;
  color: #D9D9D9;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.25em;
  color: #F4EEE7;
}

h3{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: #F4EEE7;
  margin: 0 0 8px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  padding-left: 75px;
  padding-right: 75px;
}

.main-shell{
    width: 100%;
    min-height: calc(100vh - 32px);
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #F2EFE6, #ECE1D1, #E2D3C2);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content{
  /* grow to fill all remaining height */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 40px;
}

.logo {
    display: block;
    margin: 0;
    height: auto;
    width: 360px;
}

.display-panel{
  display: flex;

  /* algin items to perfect center */
  align-items: center;
  justify-content: center;

/* don't overflow on mobile */
  max-width: 100%;

  border-radius: 16px;
  background-image: linear-gradient(to bottom, #151819, #232728, #111314);
}

/* Welcome pannel */
.display-panel-title{
  width: 496px;
  height: 80px;
}

.home-middle-section{
  display: grid;
  align-items: center;
  justify-content: center;
  /*allows all columns to shrink when needed*/
  grid-template-columns:
    minmax(60px, 144px)
    minmax(0, 712px)
    minmax(60px, 144px);

  /*allows gaps to shrink if needed*/
  gap: clamp(16px, 5vw, 100px);

  width: 100%;
  max-width: 1080px;
}

.display-panel-main{
  width: 100%; /*712px as defined in home-middle-section*/
  max-width: 712px;

  min-height: 376px;
  height: auto;

  flex-direction: column;
  gap: 28px;
  padding: 40px;
}

.home-audio-visual{
  width: 100%;
  max-width: 496px;
  height: auto;
}

.vent-grill{
  width:144px;
  max-width: 100%;
  height: auto;
}

.bottom-panel{
  display: flex;
  height: 56px;
  min-height: 56px;

  background: #6A6461;
  margin-top: auto;
  align-items: center;
  flex-shrink: 0;
}

.screw-row{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.screw {
  width: 32px;
  height: auto;
}

/* PHONE LAYOUT */
@media (max-width: 767px){

  .main-content{
    padding: 20px;
  } 

  .logo {
    width: 240px;
  }

  .screw{
    width: 24px;
  }

  /*places vents underneath screen on mobile*/
  .home-middle-section {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .display-panel-main {
    /*stretch across both grid lines*/
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .vent-left {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }

  .vent-right {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
  }

}
